.contacts {
  padding: 0 var(--side-offset, 20px);
  padding-top: 120px;
  padding-bottom: 113px;
}

.contacts__row {
  display: flex;
  justify-content: space-between;
}

.contacts-description {
  padding-top: 75px;
  max-width: 500px;
}

.contacts-description h3 {
  margin: 0;
  display: block;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  align-items: center;
  color: #011C40;
}

.contacts-description p {
  margin: 0;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #011C40;
}

.contacts-description__icon {
  margin-right: 10px;
}
