.contacts {
  padding: 0 var(--side-offset, 20px);
  padding-top: 120px;
  padding-bottom: 120px;
}

.contacts__row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.contacts-description {
  max-width: 500px;
}

.contacts-description h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #011C40;
}

.contacts-description p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #011C40;
}
