.feedback {
  padding: 0 var(--side-offset, 20px);
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: image-set(url("../img/form/formbackground.png") 1x,
      url("../img/form/formbackground2x.png") 2x);
  background-size: cover;
  background-position: 25% 90%;
}

.feedback__row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1023px) {
    flex-direction: column;
  }
}

.feedback-ifo {
  margin-left: 60px;
  max-width: 500px;

  @media (max-width: 1023px) {
    margin: 0;
  }
}

.feedback-ifo h2 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #011C40;

  @media (max-width: 1023px) {
    margin: 0 auto;
  }
}

.feedback-ifo p {
  margin: 0;
  max-width: 352px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #011C40;

  @media (max-width: 1023px) {
    margin: 0 auto;
  }
}

.feedback-form {
  margin-right: 60px;
  padding: 44px 50px 50px;
  max-width: 403px;
  background: #011C40;
  box-shadow: 0px 4px 45px rgba(1, 28, 64, 0.15);

  @media (max-width: 1023px) {
    margin: 0 auto;
  }
}

.feedback-form h3 {
  margin: 0;
  margin-bottom: 27px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #F9FBFD;
}
