.footer {
  padding: 0 var(--side-offset, 20px);
  padding-top: 50px;
  padding-bottom: 50px;
  background: #011C40;

  @media (max-width: 1023px) {
    padding-top: 47px;
  }
}

.footer__row {
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.footer-logo__icon {
  display: block;
  margin-right: 40px;

  @media (max-width: 1023px) {
    width: 38px;
    height: 20px;
    margin-right: 25px;
  }
}

.footer a {
  @media (max-width: 1023px) {
    font-size: 12px;
  }
}

.footer .navigation__list {
  @media (max-width: 767px) {
    margin-top: 20px;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.footer .navigation__item {
  @media (max-width: 767px) {
    margin-left: 0;
  }
}
