.footer-navigation {
  display: flex;
  justify-content: space-between;
}

.footer-navigation__list {
  margin: 0;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  max-width: 620px;

  @media (max-width: 1023px) {
    max-width: 520px;
  }

  @media (max-width: 767px) {
    margin-top: 8px;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.footer-navigation__item {
  margin-right: 33px;

  @media (max-width: 1023px) {
    margin-right: 24px;
  }

  @media (max-width: 767px) {
    margin-right: 0;
    margin-top: 17px;
  }
}

.footer-navigation__item:last-child {
  margin-right: 0;
}

.footer-navigation__item a {
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  align-items: center;
  color: #f9fbfd;
  // padding: 10px 0;

  @media (max-width: 1023px) {
    font-size: 12px;
    line-height: 15px;
  }

  @media (max-width: 767px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #f9fbfd;
  }

  &:hover {
    color: #0077ff;
  }
}
