.form-name input {
  padding: 11px 16px;
  width: 303px;
}

.form-phone input {
  margin-top: 20px;
  padding: 11px 16px;
  width: 303px;
}

.form-mail input {
  margin-top: 20px;
  padding: 11px 16px;
  width: 303px;
}

.form-checkbox {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #F9FBFD;
}

.form-button {
  width: 100%;
  max-width: 303px;
  height: 43px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  display: block;
  align-items: center;
  color: #011C40;
}
