.header {
  padding: 0 var(--side-offset, 20px);
  position: absolute;
  width: 100%;
}

.header__row {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1023px) {
    margin-top: 25px;
  }

  @media (max-width: 767px) {
    margin-top: 15px;
  }
}

.header__logo-svg {
  @media (max-width: 1023px) {
    margin-top: 4px;
    width: 38px;
    height: 20px;
  }
}

.header__logo {
  @media (max-width: 767px) {
    display: none;
  }
}

.header__logo--active {
  @media (max-width: 767px) {
    display: block;
  }
}

.header__toggle {
  display: none;
  background: none;
  border: none;
}

@media (max-width: 767px) {
  .header__toggle {
    display: block;
    position: absolute;
    top: 24px;
    right: 15px;
    width: 24px;
    height: 14px;
    cursor: pointer;
    z-index: 1001;
  }

  .header__toggle span,
  .header__toggle::before,
  .header__toggle::after {
    position: absolute;
    width: 100%;
    height: 8%;
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
  }

  .header__toggle::before,
  .header__toggle::after {
    content: "";
  }

  .header__toggle::before {
    left: 0;
    right: 15px;
    top: 0;
  }

  .header__toggle::after {
    left: 0;
    bottom: 0;
  }

  .header__toggle span {
    left: 0;
    top: 50%;
    transform: scale(1) translate(0 -50%);
  }

  .header__toggle.header__toggle--active span {
    background: #011c40;
    transform: scale(0) translate(0, -50%);
  }

  .header__toggle.header__toggle--active::before {
    width: 70%;
    left: 40%;
    top: 50%;
    background: #011c40;
    transform: rotate(-45deg) translate(0, -50%);
  }

  .header__toggle.header__toggle--active::after {
    left: 40%;
    width: 70%;
    bottom: 50%;
    background: #011c40;
    transform: rotate(45deg) translate(0, 50%);
  }
}
