.information {
  padding: 0 var(--side-offset, 20px);
  padding-top: 112px;
  padding-bottom: 145px;
}

.information__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.information__description {
  max-width: 520px;
}

.information__description h3 {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  align-items: center;
  color: #011C40;
}

.information__description p {
  margin: 0;
  margin-top: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #011C40;
}

.information__images {
  min-width: 560px;
}

.information__image {}
