.information {
  padding: 0 var(--side-offset, 20px);
  padding-top: 120px;
  padding-bottom: 145px;

  @media (max-width: 1023px) {
    padding-top: 91px;
    padding-bottom: 93px;
  }

  @media (max-width: 767px) {
    padding-bottom: 85px;
    padding-top: 53px;
  }
}

.information__row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1023px) {
    align-items: flex-start;
  }

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.information__description {
  max-width: 520px;
  margin-right: 30px;

  @media (max-width: 1023px) {
    margin-right: 25px;
  }

  @media (max-width: 767px) {
    margin: 0 auto;
    min-width: 290px;
  }
}

.information__description h3 {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  align-items: center;
  color: #011c40;

  @media (max-width: 1023px) {
    max-width: 210px;
    font-weight: 600;
    font-size: 26px;
    line-height: 140%;
  }

  @media (max-width: 767px) {
    font-size: 24px;
    line-height: 140%;
  }
}

.information__description p {
  margin: 0;
  margin-top: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #011c40;

  @media (max-width: 1023px) {
    margin: 15px 0 0;
  }
}

.information__images {
  min-width: 560px;

  @media (max-width: 1023px) {
    min-width: 324px;
    margin-right: 5px;
    margin-top: 9px;
  }

  @media (max-width: 767px) {
    margin: 0 auto;
    margin-top: 44px;
    min-width: 290px;
  }
}
