.main-block {
  padding: 0 var(--side-offset, 20px);
  padding-top: 270px;
  padding-bottom: 258px;
  background-color: #71b2fb;
  background-image: image-set(url("../img/main-block/mainblockbackground.png") 1x,
      url("../img/main-block/mainblockbackground2x.png") 2x);
  box-shadow: (0 4px 4px rgba(0, 0, 0, 0.25));
  background-position: 25% 90%;
  background-size: cover;

  @media (max-width: 1023px) {
    box-shadow: none;
  }

  @media (max-width: 767px) {
    padding-bottom: 165px;
    padding-top: 176px;
  }
}

.main-block__row h1 {
  margin: 0 0 0 95px;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  align-items: center;
  color: #f9fbfd;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @media (max-width: 1023px) {
    margin: 0;
    font-size: 50px;
    line-height: 61px;
  }

  @media (max-width: 767px) {
    font-size: 36px;
    line-height: 125%;
  }
}

.main-block__row p {
  margin-top: 12px;
  margin-left: 95px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #f9fbfd;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @media (max-width: 1023px) {
    margin-left: 0;
    font-size: 18px;
    line-height: 22px;
  }

  @media (max-width: 767px) {
    max-width: 200px;
    font-size: 16px;
    line-height: 140%;
  }
}
