.product {
  padding: 0 var(--side-offset, 20px);
  padding-top: 85px;
  padding-bottom: 120px;
}

.product h2 {
  margin: 0 0 49px;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  display: block;
  align-items: center;
  color: #011C40;
  text-align: center;
}

.product__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  max-width: 1130px;
  margin: 0 auto;
}

.product-card {
  max-width: 260px;
  min-height: 386px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 22px 30px;

  &:hover {
    justify-content: flex-start;
    background: #011C40;
    box-shadow: 0px 4px 35px rgba(1, 28, 64, 0.15);
    padding: 28px 25px 35px 25px;
    cursor: pointer;
  }

  &:hover .product-card__route,
  &:hover .product-card__port,
  &:hover .product-card__duration,
  &:hover .product-card__price,
  &:hover .product-card__button {
    display: block;
  }
}

.product-card--one {
  background-image: image-set(url("../img/cardblock/card1/card1.png") 1x,
      url("../img/cardblock/card1/card1x2.png") 2x);
}

.product-card__name {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #F9FBFD;
}

.product-card__route {
  margin: 0;
  margin-top: 14px;
  display: none;
}

.product-card__route h4 {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #F9FBFD;

}

.product-card__route p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #D8D8D9;
  margin: 0;
}

.product-card__port {
  margin-top: 14px;
  display: none;
}

.product-card__port h4 {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #F9FBFD;
}

.product-card__port p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #D8D8D9;
}

.product-card__duration {
  margin-top: 14px;
  display: none;
}

.product-card__duration h4 {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #F9FBFD;
}

.product-card__duration p {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #D8D8D9;
}

.product-card__price {
  margin-top: 12px;
  display: none;
}

.product-card__price h4 {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #F9FBFD;
}

.product-card__price p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #D8D8D9;
}

.product-card__button {
  margin-top: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  max-width: 210px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  color: #011C40;
  background: #F9FBFD;
  display: none;
}

.product-card--two {
  background-image: image-set(url("../img/cardblock/card2/card2.png") 1x,
      url("../img/cardblock/card2/card2x2.png") 2x);
}

.product-card--three {
  background-image: image-set(url("../img/cardblock/card3/card3.png") 1x,
      url("../img/cardblock/card3/card3x2.png") 2x);
}

.product-card--four {
  background-image: image-set(url("../img/cardblock/card4/card4.png") 1x,
      url("../img/cardblock/card4/card4x2.png") 2x);
}

.product-card--five {
  background-image: image-set(url("../img/cardblock/card5/card5.png") 1x,
      url("../img/cardblock/card5/card5x2.png") 2x);
}

.product-card--six {
  background-image: image-set(url("../img/cardblock/card6/card6.png") 1x,
      url("../img/cardblock/card6/card6x2.png") 2x);
}

.product-card--seven {
  background-image: image-set(url("../img/cardblock/card7/card7.png") 1x,
      url("../img/cardblock/card7/card7x2.png") 2x);
}

.product-card--eight {
  background-image: image-set(url("../img/cardblock/card8/card8.png") 1x,
      url("../img/cardblock/card8/card8x2.png") 2x);
}
