.socials {
  margin-left: auto;

  @media (max-width: 767px) {
    margin: 0;
  }
}

.socials__list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 106px;
  justify-content: space-between;
  list-style-type: none;

  @media (max-width: 1023px) {
    width: 87px;
  }
}

.socials__item {
  display: flex;
}

.socials__icon--one {
  @media (max-width: 1023px) {
    display: block;
    width: 9.64px;
    height: 16px;
  }
}

.socials__icon--two {
  @media (max-width: 1023px) {
    display: block;
    width: 16.42px;
    height: 16px;
  }
}

.socials__icon--three {
  @media (max-width: 1023px) {
    display: block;
    width: 16.42px;
    height: 16px;
  }
}
