.socials {
  margin-left: auto;

  @media (max-width: 767px) {
    margin: 0;
    margin-top: 28px;
  }
}

.socials__list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 120px;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: flex-end;

  @media (max-width: 767px) {
    justify-content: flex-start;
  }
}

.socials__item a {
  display: flex;
}

.socials__item + .socials__item {
  margin-left: 28px;

  @media (max-width: 1023px) {
    margin-left: 22px;
  }
}

.socials__icon--one {
  @media (max-width: 1023px) {
    display: block;
    width: 9.64px;
    height: 16px;
  }
}

.socials__icon {
  fill: #f9fbfd;

  &:hover {
    fill: #0080ff;
  }
}

.socials__icon--two {
  @media (max-width: 1023px) {
    display: block;
    width: 16.42px;
    height: 16px;
  }
}

.socials__icon--three {
  @media (max-width: 1023px) {
    display: block;
    width: 16.42px;
    height: 16px;
  }
}
